'context-menu':
  '.overlayer':
    'Insert Copyright': 'auto-copyright:insert'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Auto Copyright'
      'submenu': [
        { 'label': 'Insert', 'command': 'auto-copyright:insert' }
      ]
    ]
  }
]
