# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Insert Copyright': 'auto-copyright:insert'
    'Update Copyright': 'auto-copyright:update'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Auto Copyright'
      'submenu': [
        { 'label': 'Insert', 'command': 'auto-copyright:insert' },
        { 'label': 'Update', 'command': 'auto-copyright:update' }
      ]
    ]
  }
]
